.container-fluid,.container,.row{
    height: 100% !important;
}

.particles{
    background: gold;
}

.section-row{
    margin-top: 5%;
}

.whatIDoGridLeft{
    border:1px solid grey;
    border-left:0;
    overflow:auto;
}

.webDevelopmentImage{
    width:80%;
}

.whatIDoGridRight{
    border:1px solid grey;
    border-right:0;
}

.introduction-row{

}

.introduction-card{
    width:70%;
}

.introduction-card-image{
    min-width:100%;
}

.whatIDo{
    margin-top:5%;
    background-image: url("https://i.ibb.co/YtRp6jV/caffiene.jpg");
    height: 100%;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.workExperience{
    background: blue;
}

.projects{
    background: yellow;
}
