
.particles{
    height:100vh;
}

.introductionContainer{
    margin-top: 10%;
    z-index: 1;
    color:#fff;
}

.section-row{
    margin-top: 5%;
}

.webDevelopmentLogo {
    width:32%;
}

.reactImage{
    width:20%;
}

.reactLogo{
    width:15%;
    margin: 2% 12% 0 5%;
}

.angularLogo{
    width:16%;
    margin: 2% 12% 0 5%;
}

.restLogo{
    width:20%;
    height:50%;
    margin:5.5% 0 0 4%;
}

.nodeLogo{
    width:30%;
    margin-left:7%;
}

.expressLogo{
    width:30%;
    margin:5.5% 0 0 7%;
    height:50%;
}

.mongoDBLogo{
    width:17%;
    margin: 0 3% 0 30%;
}

.mySQLLogo{
    width:17%;
    margin:-0.5% 20% 0 5%;
}

.frontEndFrameworksTitle{
    margin: 3.5% 0 0 0;
}

.whatIdoTopRow{
    margin: 2% 0 2% 0;
}

.whatIdoBottomRow{
    margin: 2% 0 0 0;
}

.introduction-card{
    width:70%;
}

.introduction-card-image{
    min-width:100%;
}

.whatIDo{
    margin-top:5%;
    height: 100%;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.whatIDoContainer{
    margin:5% auto 0 auto;
    color:white;
}

.workExperience{
    background: blue;
}

.projects{
    background: yellow;
}

.journeyTitle{
    color:white;
    margin-bottom: 0;
}

.journeyContainer{
    margin-top: 5%;
    text-align: center;
}

.container-fluid{
    padding:0;
}

.verticalTimeline{
    margin-top:0!important;
}

.vertical-timeline-element-content{
    color:#808080;
    padding:0!important;
    background: #0f0f0f!important;
    box-shadow: none!important;
}

.timelineCardTitleHeader{
    color:black!important;
    background: #fff;
}

.vertical-timeline-element-content p{
    color: #fff !important;
}

.vertical-timeline-element-date{
    color: #fff !important;
}

.vertical-timeline-element-date{
    color:#fff;
    background-color: #0f0f0f!important;
}
