.container-fluid,
.container,
.row {
  /* height: 100% !important; */
  padding: 0;
}

.particles {
  background: gold;
}

.section-row {
  margin-top: 5%;
}

.whatIDo {
  margin-top: 5%;
  background-image: url("https://i.ibb.co/YtRp6jV/caffiene.jpg");
  height: 100%;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: white;
}

.whatIDoRow {
  padding: 100px;
}

.whatIDoGridLeft {
  border-right: 1px solid grey;
  overflow: auto;
}

.whatIDoGridRight {
  border: 1px solid grey;
  border-right: 0;
}

.whatIDoRow h3,
p {
  padding: 20px;
  padding-left: 40px;
}

.whatIDoGridBottomRow {
  border-top: 2px solid grey;
}

.webDevelopmentImage {
  width: 80%;
}

.introduction-card {
  width: 70%;
}

.introduction-card-image {
  min-width: 100%;
}

.body-container p {
  padding-bottom: 0;
}

.projects {
  background: yellow;
}
